In [2]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import os

In [8]:
# read files
df_list=[]
name_list=[]
for filename in os.listdir('Inputs'):
    if filename.endswith('.csv'):
        df_list.append(pd.read_csv('Inputs/'+filename))
        name_list.append(filename[:-4].split('- ')[1].replace(' ','_'))

In [9]:
name_list

['2017_to_2018',
 '2018_to_2019',
 '2019_to_2020',
 '2020_to_2021',
 '2021_to_2022']

In [11]:
# write to mysql
eng=create_engine('mysql+pymysql://root:yxdj87212241@localhost/paygap')
for i in range(len(name_list)):
    df_list[i].to_sql(name_list[i],eng, index=False, if_exists='replace')